version: '3'

services:
  sonarqube:
    build: .
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      
      # ⚠️ แนะนำให้ปิดบรรทัดนี้ไปก่อนครับ เพื่อบังคับให้ใช้ Plugin ที่เราฝังใน Image
      # - sonarqube_extensions:/opt/sonarqube/extensions

volumes:
  sonarqube_data:
  sonarqube_logs:
  # sonarqube_extensions:  <-- ปิดตรงนี้ด้วยถ้าข้างบนปิด